@media only screen and (max-width: 1200px) {
    .register-validation{
        font-size: 90%;
    }
}
/* small phones 0 to 576 */
@media only screen and (max-width: 576px) {
    .navbar-nav .dropdown-menu {
        position: absolute!important;
        right: 0!important;
        width: 280px!important;
    }

    .ddm-notifications {
        width: 280px!important;
    }

    .container {
        overflow-x: hidden;
    }

    .login-div {
        width: 90%!important;
    }

    .verical-line {
        display: none;
    }

    .register-form {
        font-size: 90%;
    }

    .footer-text {
        font-size: 80%;
    }
}    
