/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* -----------------------MY CSS--------------------------*/


/* ----------------------- NAVBAR --------------------------*/

.navbar-nav-link {
    width : max-content;
}

.navbar-dropdown-form {
    width: max-content;
}

.navbar-dropdown-menu {
    width: max-content;
}


/*------------------ PROFILE ------------------*/
/*.user-profile-background {
    background-color: #2f9f2f;
}*/

.user-profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.user-profile-info {
    font-size : 110%;
}

.user-profile-about {
    width: inherit;
    word-wrap : break-word;
}

div .verical-line {
    width: 1px;
}


/*------------------ POST model ------------------*/
.number-of-yums {
    height: max-content;
    background-color: #eee;
}

.post {
    background-color: #eee;
    border-radius: 30px;
}

.post-profile-photo {
    width: 50px;
    height: 50px;
}

.post-username {
    font-size : 130%;
}

.post-time {
    font-size : 80%;
}

    /*------------------ INGREDIENT ------------------*/

    .ingredient-photo {
        width : 50px;
        height : auto;
    }

    .ingredient-link-div {
        width : max-content;
    }

    .ingredient-btn {
        height : max-content;
    }

    .modal-body-photo {
        width: 200px;
        height: auto;
/*        object-fit: contain;*/
    }

    /*------------------ COMMENT ------------------*/

    .comment-user-photo {
        width : 40px;
        height : 40px;
        border-radius : 50%;
        object-fit : cover;
    }

    .non-resizable-textarea {
        resize : none;
    }

    .comment-user{
        border-radius : 20px;
    }


/*------------------ COMMENT ------------------*/

.user-settings-photo {
    width : 300px;
    height: auto;
    object-fit : contain;
}