<footer class="border-top footer text-muted">
    <div class="container">
        <p class="footer-text mb-0">
            &copy; 2021 - YumApp - Stefan Djacic, All rights reserved
        </p>
    </div>
</footer>