@model List<NotificationModel>
@{ 
    int currentUserId = ViewBag.CurrentUserId;
}

<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-success d-flex justify-content-between">
    <div class="d-flex">
        <a class="navbar-brand align-self-start text-nowrap" asp-action="Feed" asp-controller="User">
            <img src="~/Photos/Chef hat icon.jpg" width="30" height="30" class="d-inline-block align-top rounded-pill" alt="Chef hat icon">
            YumApp
        </a>

        <form asp-action="SearchUsers" asp-controller="User" method="get">
            <div class="input-group">
                <input name="userName" id="userName" type="text" class="form-control" placeholder="Find other users" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit" id="button-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
        <div class="mr-5">
            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mr-lg-5">
                        <a class="nav-link text-white" asp-action="Feed" asp-controller="User">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item mr-lg-5">
                        <a class="nav-link text-white" asp-action="Profile" asp-controller="User" asp-route-id="@currentUserId">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item mr-lg-5">
                        <div class="dropdown">
                            <a class="nav-link text-white" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell"><span id="notification-alarm" class="number-of-notifications badge badge-danger"></span></i>
                            </a>
                            <div id="dropdown-menu" class="dropdown-menu dropdown-menu-right ddm-notifications" aria-labelledby="dropdownMenuLink">
                                <partial name="_UserNotificationPartial" />
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mr-lg-5">
                        <a class="nav-link text-white" asp-action="Settings" asp-controller="User">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </li>
                    @if (Context.User.IsInRole("admin"))
                    {
                        <li class="nav-item mr-lg-5">
                            <div class="dropdown">
                                <a class="nav-link text-white dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-tasks"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right tasks" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-action="ManageUsers" asp-controller="Admin">Manage users</a>
                                    <a class="dropdown-item" asp-action="Ingredients" asp-controller="Admin">Manage ingredients</a>
                                    <a class="dropdown-item" asp-action="ReportedPosts" asp-controller="Admin">Manage posts</a>
                                </div>
                            </div>
                        </li>

                    }
                    <li class="nav-item mr-lg-5">
                        <form class="pl-0" asp-action="Logout" asp-controller="Home" method="post">
                            <button class="btn btn-link text-white text-decoration-none ml-0 pl-0 pr-0" type="submit">
                                <i class="fas fa-share-square"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
</nav>