@model List<NotificationModel>
    
@foreach (var notification in Model)
{
    <div class="dropdown-item dropdown-item-notification p-2">
        <figure class="d-flex mb-1">
            <img src="@notification.InitiatorPhotoPath" alt="User photo" class="dropdown-item-notification-photo rounded-circle" />
            <figcaption class="ml-3">
                @notification.NotificationText
            </figcaption>
        </figure>
        <p class="small mb-0">
            @notification.TimeOfNotification
        </p>
    </div>
}
