@model List<PostModel>
@{
    ViewData["Title"] = "Feed";

    var currentUser = ViewBag.CurrentUser;
}

<div>
    <partial name="_UserPostsPartial" />
</div>

@section Scripts{
    <script src="~/js/PostRelatedScript.js"></script>
    <script src="~/js/NewPostScripts.js"></script>
}