@model List<PostModel>
@{    
        ViewData["Title"] = "Profile";
}

<div class="d-flex flex-column">
    <div class="photo bg-dark h-75">

    </div>

    <div class="d-flex row">
        <div class="friends-and-yums col-3">
            <div class="list-group">
                @*<button type="button" class="list-group-item list-group-item-action active">
                    Cras justo odio
                </button>*@
                <button type="button" class="list-group-item list-group-item-action">
                    <i class="fas fa-user"></i>
                    Following
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <i class="fas fa-users"></i>
                    Followers
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <i class="fas fa-thumbs-up"></i>
                    Liked posts
                </button>
                MORAS DA NAPRAVIS RAZLICIT PRISTUP PROFILU U ZAVISNOSTI DA LI JE TRENUTNI KORISNIK PRISTUPIO SVOM PROFILU!!!!
            </div>
        </div>

        <div class="verical-line h-auto ml-5 mr-5 bg-secondary">

        </div>

        <div class="userposts col-7">
            <partial name="_UserPostsPartial" />
        </div>
    </div>
</div>
