@model List<PostModel>
@{    
        ViewData["Title"] = "Profile";
}

<div class="d-flex flex-column">
    <div class="photo bg-dark h-75">

    </div>

    <div class="d-flex">
        <div class="friends-and-yums">

        </div>

        <div class="verical-line h-100 w-25">

        </div>

        <div class="userposts">

        </div>
    </div>
</div>
