@model List<PostModel>
@{
    ViewData["Title"] = "Post";
}

<div class="w-100 pr-sm-0 pr-3">
    <partial name="_UserPostsPartial" />
</div>

@section Scripts{
    <script src="~/js/PostRelatedScript.js"></script>
}