@model List<PostModel>
@{
    ViewData["Title"] = "Post";
}

<div class="w-75">
    <partial name="_UserPostsPartial" />
</div>

@section Scripts{
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/SignalR.js"></script>
    <script src="~/js/PostRelatedScript.js"></script>
}