@model RegisterModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper row  d-flex justify-content-around align-items-center">
    <section class="registration w-100 col-5">
        <partial name="_RegisterPartial" />
    </section>
    <section class="welcome col-7 w-100 d-flex justify-content-center align-items-center flex-column">
        <div>
            <p class="">Welcome to YumApp!</p>
            <br />
            <p>Social network for chefs all over the world.</p>
            <p>Share your favourite/special meals with others on YumApp.</p>
        </div>
        <div class="align-self-end">
            <a class="btn btn-outline-success" asp-action="Login" asp-controller="Home">
                Login
            </a>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script>
        //For changing the username
        function updateUsername(emailValue) {
            var inputUsername = document.getElementById('inputUsername');
            inputUsername.value = emailValue;
        }
    </script>*@
}
