@model RegisterModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper row  d-flex justify-content-around align-items-center pt-5 mt-5">
    <section class="registration w-100 col-5">
        <partial name="_RegisterPartial" />
    </section>
    <section class="welcome col-7 w-100 d-flex justify-content-center align-items-center flex-column">
        <div>
            <p class="">Welcome to YumApp!</p>
            <br />
            <p>Social network for chefs all over the world.</p>
            <p>Share your favourite/special meals with others on YumApp.</p>
        </div>
        <div class="align-self-end">
            <a class="btn btn-outline-success" asp-action="Login" asp-controller="Home">
                Login
            </a>
            @*<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ModalCenter">
                Login
            </button>
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalCenterTitle">Welcome!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="_LoginPartial" for="LoginModel" />
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script>
        //For changing the username
        function updateUsername(emailValue) {
            var inputUsername = document.getElementById('inputUsername');
            inputUsername.value = emailValue;
        }
    </script>*@
}
