@model RegisterModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <section class="registration">
        <form action="Index" method="post">

        </form>
    </section>
</div>
