@{
    ViewData["Title"] = "Login";
}
<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
    <div class="login-div shadow mt-5 p-5 border-dark w-50">
        <partial name="_LoginPartial" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}