@model IngredientModel
@{
    ViewData["Title"] = "New Ingredient";
}

<div class="p-sm-0 p-2">
    <h4>Ingredient</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateIngredient" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <br />
                    <input id="imgInp" type="file" asp-for="Photo" />
                    <input id="imgName" type="hidden" asp-for="PhotoPath" />                    
                </div>
                <div>
                    <img id="slika" alt="Ingredient photo" class="img-fluid ml-sm-5 mb-sm-3 mb-2 user-settings-photo" />
                    <br />
                    <span asp-validation-for="PhotoPath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-danger" asp-action="GetIngredients" asp-controller="Admin">Cancel</a>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //For changing the user photo in UI
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                var imgName = document.getElementById('#imgName');

                reader.onload = function (e) {
                    $('#slika').attr('src', e.target.result);

                    $('#imgName').val(input.files[0].name);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);

        });

        //For changing the username
        function updateUsername(emailValue) {
            var inputUsername = document.getElementById('inputUsername');
            inputUsername.value = emailValue;
        }
    </script>
}