@model List<IngredientModel>

@{
    ViewData["Title"] = "GetIngredients";
}

<h1 class="mb-3">Ingredients</h1>

<p>
    <a class="btn btn-success" asp-action="CreateIngredient" asp-controller="Admin">Create New Ingredient</a>
</p>
<table class="table w-100 mb-5">
    <thead>
        <tr>
            <th>
                <p class="mb-0">
                    Photo
                </p>
            </th>
            <th>
                <p class="mb-0">
                    Name
                </p>
            </th>
            <th>
                <p class="mb-0">
                     
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="">
            <td class="">
                <div class="ingredients-list-photo-div">
                    <img class="img-fluid ingredients-list-photo" src="@item.PhotoPath" alt="Ingredient photo" />
                </div>
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-middle">
                <a class="btn btn-primary" asp-action="IngredientInfo" asp-controller="Admin" asp-route-id="@item.Id">Details</a>                
            </td>
        </tr>
}
    </tbody>
</table>
