@model List<PostModel>
@{ 
    ViewData["Title"] = "Reported posts";

    AppUser currenUser = ViewBag.CurrentUser;
}

<div class="p-sm-0 p-2">
    @if (!Model.Any())
    {
        <div>
            <p>
                Yay! There are no more reported posts!
            </p>
        </div>
    }

    <div>
        <partial name="_UserPostsPartial" />
    </div>
</div>

@section Scripts{ 
    <script src="~/js/PostRelatedScript.js"></script>
}