@{
    ViewData["Title"] = "Not Found";
}

<div>
    <p>
        The resource has been removed.
    </p>
</div>

@section Scripts{
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/SignalR.js"></script>
}